//! **************************************************************************
// Written by: Map I.31 on Mon Feb 26 16:53:37 2018
//! **************************************************************************

SCHEMATIC START;
COMP "X2" LOCATE = SITE "K12" LEVEL 1;
COMP "x1" LOCATE = SITE "P14" LEVEL 1;
COMP "a" LOCATE = SITE "H13" LEVEL 1;
COMP "b" LOCATE = SITE "H14" LEVEL 1;
COMP "c" LOCATE = SITE "G12" LEVEL 1;
COMP "d" LOCATE = SITE "F12" LEVEL 1;
SCHEMATIC END;
